*{
    padding: 0px;
    margin: 0px;
    border: red;
}
.banner-container{
    background-image: url("./images/banner/banner3.png");
    width: 1600px;
    height: 808px;
    left: 0px;
    top: 0px;
}
.title-banner{
    position: absolute;
    width: 525px;
    height: 228px;
    left: 845px;
    top: 216px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 65px;
    line-height: 76px;
    text-align: right;
    color: #FFFFFF;
  }

.description{
    position: absolute;
    width: 494px;
    height: 78px;
    left: 876px;
    top: 468px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: right;
    color: #FFFFFF;

}
.btn{
position: absolute;
width: 109px;
height: 23px;
left: 1236px;
top: 599px;

font-family: 'Work Sans';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 23px;
text-align: right;

color: #005FAC;
width: 160px;
height: 64px;
left: 1210px;
top: 578px;
border-radius: 25px;
}

/* second portion style */

.failures{
    display: flex;
    width: 1072px;
    height: 723.3px;
    left: 195px;
    top: 939px;

}
.img{
    position: absolute;
    width: 569px;
    height: 723.3px;
    left: 195px;
    top: 939px;;

}
.right{
    position: absolute;
width: 416px;
height: 400px;
left: 851px;
top: 1178px;
}
.title{
    color:black;
    padding: 10px;
    font-weight: 700;
font-size: 40px;
width: 288px;
height: 94px;
}
.desc{
  font-weight: 400;
  font-size: 16px;
  width: 416px;
  height: 104px;
  color: #444343;
  padding: 10px;
  margin-bottom: 16px;
}
.list{
    font-weight: 400;
    font-size: 16px;
    width: 315px;
    height: 26px;
    color: blue;
}

/* third portion */
.plans{
    position: absolute;
    width: 1141px;
    height: 299.96px;
    left: 230px;
    top: 1792.3px;
    display: flex;
    justify-content: space-around;
}
.title-plan{
    text-align: center;
    width: 179px;
height: 47px;
font-family: 'Work Sans';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 47px;
left: 711px;
top: 1792.3px;
}
